* {
	box-sizing: border-box;
	font: 20px/25px Ubuntu, "Lucida Grande", Helvetica, Arial, sans-serif;
	text-decoration: none;
	background: #000000;
	color: #ffffff;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}
	html {
		margin: 0;
	}
		body {
			margin: 0;
		}
			.main {
				position: absolute;
				height: 100%;
			}
				.side {
					width: 20%;
					overflow: scroll;
				}
					ul {
						list-style-type: none;
						margin: 0;
						padding: 10px;
					}
						li {
							margin: 10px auto;
							cursor: pointer;
						}
							li ul {
								display: none;
//								overflow: hidden;
							}
							li ul:target {
//								display: inherit;
							}
					.left {
						float: left;
					}
					.right {
						float: right;
						right: 0;
					}
					.hidden {
						display: none;
					}
				iframe, video {
					width: 60%;
					left: 20%;
					right: 20%;
					border:0;
				}